.awesome {
    width: 100%;
    background-color: #ffffff;
    padding: 100px 0;   
}

.awesome__description {    
    color: #86878B;
    margin-bottom: 67px;
    text-align: center;
}

.awesome__row {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

.awesom-item {
    max-width: 350px;
    margin: 0 15px;
}

.awesom-item__img-wrapper {
    display: flex;
    margin: auto;
    width: 70px;
    height: 70px;
    border: 1px solid #D98943;
    border-radius: 50%;   
    margin-bottom: 30px;
}

.awesom-item__img {
    display: block;
    margin: auto;
}

.awesome-item__title {
    color: #333333;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 16px;
    text-align: center;
}

.awesome-item__description {
    color: #000000;
    font-size: 14px;
    text-align: center;
    word-break: break-word;
}