.pricing {
    width: 100%;
    background-color: #e5e5e5;
    padding: 80px 0;
}

.pricing__description {
    color: #86878B;
    margin-bottom: 63px;
    text-align: center;
}

.pricing__row {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

.tariff {
    width: 100%;
    max-width: 340px;
    margin: 0 15px;
}

.tariff__name {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #333333;
    margin-bottom: 1px;
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
}

.tariff__name,
.tariff__cost {
    color: #ffffff;
    text-align: center;
}

.tariff__cost {
    background-color: #333333;
    margin-bottom: 1px;
    padding: 26px 0 33px;
    font-size: 35px;
    font-family: 'Raleway', 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.tariff__condition {
    background-color: #333333;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
}

.tariff__condition_active {
    background-color: #D98943;
}

.tariff__item {
    background-color: #FFFFFF;
    color: #86878b;
    text-align: center;
    margin-top: 1px;
    line-height: 40px;
    transition: 0.3s;
    cursor: pointer;
}

.tariff__item:hover {
    color: rgb(88, 89, 92);
    font-size: 16px;
    background-color: rgb(175, 175, 180);
}

.tariff__item:active {
    background-color: #D98943;
}