.awesome {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;    
}

.container {
    max-width: 1170px;
    padding: 100px 15px;
    margin: auto;
}

.awesome__title {
    margin-bottom: 25px;
}

.awesome__line {
    margin: 0 auto 30px;
    width: 64px;
    height: 2px;
    background-color: #d98943
}

.awesome__description {    
    color: #86878B;
    margin-bottom: 67px;
}

.awesome__row {
    display: flex;
    justify-content: space-between;
}

.awesom-item {
    max-width: 350px;
}

.awesom-item__img-wrapper {
    display: flex;
    margin: auto;
    width: 70px;
    height: 70px;
    border: 1px solid #D98943;
    border-radius: 50%;   
    margin-bottom: 30px;
}

.awesom-item__img {
    display: block;
    margin: auto;
}

.awesome-item__title {
    color: #333333;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 16px;
}

.awesome-item__description {
    color: #000000;
    font-size: 14px;
}